[Desktop Entry]
Name=Vesktop
GenericName=Internet Messenger
Comment=Vencord-enhanced Discord client
Exec=/usr/bin/vesktop %U
Icon=vesktop
Type=Application
Terminal=false
StartupWMClass=Vesktop
Categories=Network;InstantMessaging;Chat;
Keywords=discord;vencord;chat;
MimeType=x-scheme-handler/discord;
